@{
    ViewBag.Title = "Home Page";
}
<body>
<h2>@ViewBag.Message</h2>
<div><%: ViewData["CurrentTime"] %></div>


<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

</body>